
@{
    ViewBag.Title = "RegistrationLabel";
}

<html>
    <body>
        <div id="container">
            <form>
                <label id="answer">
                    <p>@ViewBag.LoginSession</p>
                    <p>@ViewBag.PasswordSession</p>
                </label>
            </form>
        </div>
    </body>
</html>


