
@{
    ViewBag.Title = "RegistrationWebForm";
}

<html>
<head>
    <title>RegistrationWebForm</title>
</head>
<body>
    <div id="container">

        @using (Html.BeginForm("RegistrationLabel", "Home", FormMethod.Post))
        {
        <form>
            <h1>Sign in</h1>
            <p>@ViewBag.NotCorrect</p>
            @Html.TextBox("login_session", null, new { @class = "form__textField", @placeholder = "Login" })
            @Html.Password("password_session", null, new { @class = "form__textField", @placeholder = "Password" })

            <button id="submit" type="submit">SUBMIT</button>
        </form>
        }

    </div>
</body>
</html>

